.masthead {
    height: 70vh;
    background-image:url('./../../public/img/yoschi.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border: solid rgb(37, 189, 43) 3px;
    
  }

  .card-videogames {
    height: 400px;
  
  }

  .bg-games {

      background-image: url('./../../public/img/castello.jpg');
      background-repeat: no-repeat;
      background-size: cover; 
      background-position: center center; 
      border: solid rgb(44, 222, 68) 3px;
    
    
 
  }

  .bg-aboutus {

    background-image: url('/public/img/yoschi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .bg-navbar {

    background-color: rgba(39, 173, 12, 0.7);


  }

  .bg-footer{

    background-color: rgba(39, 173, 12, 0.7);

    
  }